<?xml version="1.0"?>
<config>
    <modules>
        <Mage_OfflineMaintenance>
            <version>1.0.1</version>
        </Mage_OfflineMaintenance>
    </modules>
	<default>
		<web>
            <routers> 
                <standard><area>frontend</area><class>Mage_OfflineMaintenance_Controller_Router_Standard</class></standard>
            </routers>
		</web>
		<offlinemaintenance>
			<settings>
                <enabled>0</enabled>
				<message><![CDATA[
<style>
body {
background:#777777 none repeat scroll 0 0;
color:#FFFFFF;
font-family:Helvetica,Arial,Verdana,sans-serif;
font-size:12px;
 
margin:0;
padding:0;
text-align:center;
}
h1 
{
	margin:0px;
	padding:0px;
 	margin-top:30%;
 	font-size: 25pt;
 	display:block;
}
h2
{
	padding:0px;
 	margin-top: 5px;
 	font-size: 18pt;
}

</style>
</head>

<body>
<h1>We're sorry, but our website is under maintenance.</h1>
<h2>Please enjoy a quick cup of espresso and then try refreshing this page</h2>
 ]]>
</message> 
			</settings>
		</offlinemaintenance>
	</default>
 
  <adminhtml>
        <translate>
            <modules>
                <Mage_OfflineMaintenance>
                    <files>
                        <default>Mage_OfflineMaintenance.csv</default>
                    </files>
                </Mage_OfflineMaintenance>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <offlinemaintenance>
                                            <title>Maintenance</title>
                                        </offlinemaintenance>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
     
</config>